
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
  font-family: "Playfair Display", serif;
}

.container{
  height: 100vh;
background-image: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.card{
  background-color: white;
  width: 100%;
  max-width: 18rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;

}